#### 1. Preview 
Take a quick look at both files in order to understand what we are going to work with, how data is stored and in which formats. In this stage we may see a few issues:

#### 1.1. Formats
Files have been saved in different formats. CSV and XLSX. We can change the format of dictionary file from xlsx. to csv. manually by opening file in Excel and saving it as csv file. However the pandas library can read both format. All we need to do is using operators read_csv for csv file and read_excel for xlsx file. as it is performed below.

In [17]:
import pandas as pd

In [19]:
df_studens = pd.read_csv("student_data.csv")
df_dictionary = pd.read_excel("student_data_dictionary.xlsx")

In [22]:
df_studens.head(2)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171.0,1,1,122.0,1,19,12.0,...,0,0.0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254.0,1,1,160.0,1,1,3.0,...,0,6.0,6,6,13.666667,0,13.9,-0.3,0.79,Graduate

In [24]:
df_dictionary.head(2)

,Variable Name,Role,Type,Demographic,Description,Units
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorce...,NaN
1,Application mode,Feature,Integer,NaN,1 - 1st phase - general contingent 2 - Ordinan...,NaN

As we can see both files were successfully recognised

#### 1.2. Separation
It seems that initial dataset was devided into a two parts or data was being collected in this way in a first place. The main table contains foreign keys which connect a specific cell with a defenition in the second table. The second table contains primary keys for main table. 
I may suggest that those tables are called relational database, and using this method for storing data in this case has several advantages:
1. This method saves memory in tables with multiple repetitions.
2. It can keep data private and secure, without enclosing personal data. 
3. This approach helps to get red of potential bias or at least to reduce it. For instance, if some company or department publishes a dataset they can substitute information which may be misinterpretted using keys, and keep table with definitions unpublished.

I see three approaches for further data preparation process:
1. Identify features which contain foreign keys, format them as a string and treat them as a string values such as ID. It will allow us to do EDA and analyses. Additionally this approach will save time for operations, memory and computing power. However there may be a problem with quality of our EDA and with a futher interpritation. For example, the column "Marital status" may contain more foreign keys than stored in dictionary. In this case we can end up with situation where we included missing values. It can affect our preparation and analysis.
2. Merging datasets. Substitute foreign keys with their definitions. It will allow us to identify missing values even if cells contain values. For example, if the column "Marital status" will contain single numerical values after merging we will be able to assign them as "Unknown" category. However, the size of the file with database will grow, with means more memory, computing power and time for code to run will be spent.
3. Mixed approach. Technically, we can merge data, make a data preparation proccess. And after devide data back. This apporoach may be helpful if we want to save resourses and perform proper preparation process. However, this method requires many manipulations with data. I think this method make sense when potential resources which may be saved are significantly higher than resourses which analyst spends for that.